html, body {
  height: 100%;
}

body {
  font: 110% sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
}

todo-app {
  flex-basis: 20em;
}

todo-list {
  display: block;
  border: 2px solid black;
  border-radius: 3px;
}

todo-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

todo-list li {
  display: flex;
}

todo-item li  {
  border-bottom: 2px solid black;
}

span.complete, span.delete {
  width: 1em;
  display: flex;
  position: relative;
}

span.complete:before {
  content: '';
  border: 2px solid black;
  width: 1em;
}

span.complete.checked:after {
  content: '✓';
  position: absolute;
  left:0.55em;
  top:0.3em;
}

li:hover span.delete:before {
  content: '×';
  position: absolute;
  top: 0.2em;
}

span.description {
  flex: 1;
  line-height: 1;
}

span {
  padding: 0.4em;
}

form {
  flex: 1;
  display: flex;
}

input {
  flex: 1;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font: inherit;
  padding: 0.4em;
}
